.property-radio-wrapper {
  background-color: var(--primarybrand);
  border: 4px solid;
  border-color: var(--textsubtitle);
  border-radius: 32px;
  box-shadow: var(--inner-shadow-sharp);
  height: 24px;
  opacity: 0.5;
  width: 24px;
}
